.abc{
    margin: 20px 5px;
            margin-left: 10px;
            margin-right: 10px;
}
#accordionExample{
    margin: 20px 10px ;
}
#buttons{
    margin-left: 20px  ;
margin-right: 200px ;
margin-top: 0px ;
margin-bottom: 20px ;
}
#forms{
    margin: 10px 10px ;
}
.table{
    margin: 10px 10px ;

}